/***************** Meta Styles **********************/
@keyframes horizontalRollout{
  0%{
    width: 0px;
  }

  100%{
    width: 925px;
  }
}

@keyframes unveil{
  0%{
    width: 0px;
    overflow: hidden;
    scrollbar-width: 0px;
  }

  100%{
    width: 745px;
    overflow: hidden;
    scrollbar-width: auto
  }
}

/**************** Body Styling *********************/
body {
  background: url('../images/background-desktop.jpg') left top/cover no-repeat fixed;
}

.site-header{
  top: 0px;
}

.content{
  background: url(../images/parch-back.png) 25px 10px no-repeat;
  width: 745px;
  animation: unveil .6s linear;
}

.content p{
  margin-block-start: .5em;
}

.nav-h{
 top: 0px;
}

.menu li > a{
  font-size: 2em;
}

.content img {
  display: block;
  float: left;
  margin-right: 15px;
  margin-top: 15px
}

.crew-background{
  background: url('../images/parch-bottom.png') right top no-repeat,
              url('../images/parch-top.png') top left no-repeat,
              url('../images/parch-left.png') bottom center no-repeat,
              url('../images/parch-right.png') top center no-repeat;
  position: relative;
  height: 696px;
  width: 925px;
  margin: 6% auto;
  animation: horizontalRollout .6s linear;
}

.crew-background.sitemap{
  background: url('../images/sitemap.png') 0px no-repeat;
  width: 1427px;
  /*! margin: 6% auto; */
}

